/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  img {
    width: 80px; /* Defina o tamanho desejado para a logo */
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .container-input {
    margin-top: 120px; /* Adapte o valor para dar espaço suficiente para a logo */
    text-align: center;
  }
  
  .container-password {
    margin-top: 20px;
    text-align: center;
  }
  
  /* Adicione aqui o restante do seu CSS, se necessário */
  